<!-- views/index.ejs -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saptha interiors</title>
    <link rel="icon" type="image/x-icon" href="/images/Saptha.ico">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="wallpapers">
    <header>
        <div class="navbar" style="position: fixed;">
            <div id="title">
                SAPTHA
            </div>
            <img src="/images/SAPTHA.ico" alt="logo" id="logoimg">
            <div>
                <table id="menu">
                    <tr>
                        <td><a href="/">Home</a></td>
                        <td> <a href="/services">Services</a></td>
                        <td><a href="/about">About</a></td>
                        <td><a href="/contact">Contact</a></td>
                    </tr>
                </table>
            </div>    
        </div>
    </header>
    <main>
        <div>This is About</div>
    </main>
</body>
</html>
